* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #4da3ff, #2f80ed);
    color: white;
    padding: 15px 40px;
}

/* LAYOUT */
.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* INFO */
.info {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.box {
    flex: 1;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}

/* BUTTONS */
.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.black {
    background: black;
    color: white;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* RIGHT */
.count {
    margin: 10px 0 20px;
}

.ticket {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.ticket span {
    font-weight: bold;
}

.ticket .top {
    display: flex;
    justify-content: space-between;
}

.ticket button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

